.description h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.description h3 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.description p {
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}